// Channel scroller (sidebar)

div {
    &[class^='channels'] {
        // Hover bullshit.
        div[class^='scrollerWrap'] {
            div[class^='iconVisibility']:hover > div[class^='content'],
            div[class^='wrapper']:hover,
            div[class^='content']:hover,
            div[class^='channel']:hover a {
                background-color: #EBEBEB !important;
                div[class^='name'], span[class^='name'] {
                    color: #404040 !important;
                }
            }

            div[class^='iconVisibility']:hover {
                div[class^='name'], span[class^='name'] {
                    color: #404040 !important;
                }
            }
        }

        // Voice nonsense
        div[class^='container'] {
            border-bottom: none;

            a[class*='channel'] {
                color: black !important;
                opacity: 0.7;
            }
        }

        // > needed so it doesn't pick random nonsense from
        // inside the actual channel scroller thingy
        > div[class^='container']:last-of-type {
            background-color: white !important;
        }
    }

    div[class*='containerDefault'] {
        div[class^='content'] div[class^='name'], svg {
            color: #666666;
        }
    }

    // Selected DM/Guild channel BG
    div[class*='selected'] {
        div[class^='content'], a {
            background-color: #EBEBEB !important;

            div[class^='name'], span[class^='name'], svg {
                color: #404040 !important;
            }
        }
    }

    div[class*='modeUnread'] {
        div[class^='content'] div[class^='name'] {
            color: #101010;

            @if $bold-unread-channels {
                font-weight: 400 !important;
            }
        }
    }

    div[class*='modeMuted'] {
        div[class^='content'] div[class^='name'], svg {
            color: #a0a0a0 !important;
        }
    }


    // Scrollbar on the right in the chat view
    &[class*='scroller'] {
        &[class*='messages']::-webkit-scrollbar-thumb {
            background-color: $main_colour !important;
        }

        &[class*='friendsTableBody']::-webkit-scrollbar-thumb {
            background-color: $main_colour !important;
        }
    }

    // NEW UNREADS button
    &[class*='unread'] div[class^='bar'] {
        box-shadow: none !important;

        background-color: $main_colour;
    }

    &[class^='userLimit'] div[class^='wrapper'] span {
        background-color: #E6E6E6;
        &:first-child {
            background-color: #F2F2F2 !important;
        }

        &[class^='total'] {
            &:after {
                border-right-color: #E6E6E6;
            }
            &::after {
                background-color: #F2F2F2;
            }
        }
    }
}


/// Private channels only
div[class^='privateChannels'] {

    // DIRECT MESSAGES text
    span header {
        font-weight: 400 !important;
        color: #404040;
        opacity: 1;
    }

    // Friends button in DM menu
    div[class^='scroller'] {
        // Remove padding above friends button
        & {
            padding-top: 0px !important;
        }

        @if $disable-friends-button {
            a[href='/channels/@me'] {
                display: none;
            }

            span header {
                margin-top: 0px;
            }

            &[class*='selected']:nth-child(1) div[class*='name'],
            &:nth-child(1):hover div[class*='name'] {
                color: #333333 !important;
            }
        }
    }
}
