// CSS for inside the channel

// Load more messages button
div[class^='hasMore'] button {
    background-color: white;
    color: $main-colour;
    border: 1px solid $near-white;
}

// Jump to present bar
div[class^='jumpToPresentBar'] {
    background-color: $main-colour;
}

// Code block fonts
.hljs, span[class^='hljs'] {
    font-family: 'Fira Code' !important;
    font-weight: 500 !important;
}

// Code blocks
div[class^='markup'] pre {
    border: none;
}

// Inline code blocks
div[class^='markup'] code {
    &, &.inline {
      background-color: $near-white !important;
    }
}

span[class^='spoilerText'] {
    background-color: black !important;
    border: 2px solid black;

    span[class^='inlineContent'] {
        color: white;
        font-weight: 400 !important;

        code {
            color: $dark-gray;
        }
    }
}

// Allow overriding fonts
@if $override-channel-fonts {
    // Body font override
    div[class^="containerCozy"] div[class^="markup"] {
        &, span, em, strong, s, a {
            font-family: $override-channel-fonts-text;
        }
    }

    // Header font override
    span[class^="username-"] {
        font-family: $override-channel-fonts-username;
    }

    // Code block override
    .hljs, span[class^='hljs'] {
        font-family: $override-channel-fonts-codeblock !important;
    }

    // Inline code override
    div[class^='markup'] code {
        &, &.inline {
            font-family: $override-channel-fonts-inlinecode !important;
        }
    }

}

// Makes message text darker.
div[class^='markup'] {
    color: $dark-gray;
}

// Removes the message divider.
@if $remove-message-divider {
    hr[class^='dividerEnabled'] {
        display: none;
    }
}

@if $remove-emoji-borders {
    .emoji {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

// Removes excess buttons on the chat bar.
div[class^='buttons'] {
    button[tabindex='2'], div[class^='buttonContainer'] {
        display: none;
    }
}

span[class*='botTagCozy'] {
    background-color: $main-colour;
    top: -5%;

    // Center text
    display: inline-flex;
    align-self: center;
    padding: 2px;
}

// Change pinned message & mentions popout
div[class^='messagesPopoutWrap'] {
    // popouts have a slight white border that looks a bit unnatural with colours
    border: none;

    // popout header
    div[class^='header-'] {
        background-color: $main-colour;

        // header titles
        div[class^='title'] {
            color: white;
        }

        // tab bar items
        div[class^='headerTabBarWrapper'] {
            div[class^='tabBar'], div[class^='mentionFilter'] {
                &, div[class^='value'] {
                    color: white !important;
                }
            }
        }
    }

    div[style^='border-color: rgb'] {
        border-color: white !important;
    }

    // removes the dumbass footer from the pin menu
    div[class^='footer'] {
        display: none;
    }

    // removes the equally dumbass empty placeholder from the mentions menu
    div[class^='scrollingFooterWrap'] {
        display: none;
    }
}

// Change "add to group" modal
div[class*='popoutBottomRight'] div[class^='modal'] {

    // main header
    div[class*='header'] {
        background-color: $main-colour;

        // "select friends" text
        h4, div[class^='subtitle'] {
            color: white !important;
        }

        // fix the inner search bar
        div[class^='searchBarComponent'] {
            input::placeholder {
                color: white;
            }

            // the users to be added to the DM
            a[role='button'] {
                color: white !important;
                background-color: rgba($main-colour, 0.8);
            }
        }
    }

    // footer only contains this button
    div[class*='footer-'] {
        // perhaps this should be enabled? it removes a bit of uselwess whitespace
        //padding-top: 10px;
        //padding-bottom: 10px;

        button {
            background-color: $green;

            // this doesnt seem to work...
            &::hover {
                background-color: $green-darker;
            }
        }
    }
}
