div[class^='channelTextArea'] {
    // Removes the tiny border above the chat box.
    & {
        border-top: none;
    }

    div[class^='inner'] {
        // Changes the background slightly.
        & {
            background-color: $near-white;
        }

        // Changes the text area text colour.
        textarea {
            color: $light-gray;

            &::placeholder {
                color: $lighter-gray;
            }
        }

        // Changes the attach button
        div[class*='attachButtonInner'] svg path {
            fill: $lighter-gray;
        }
    }
}
