div[class^='channelTextArea'] {
    // Removes the tiny border above the chat box.
    & {
        border-top: none;
    }

    div[class^='inner'] {
        // Changes the background slightly.
        & {
            background-color: #F6F6F6;
        }

        // Changes the text area text colour.
        textarea {
            color: #8C8C8C;
        }

        // Changes the attach button
        div[class*='attachButtonInner'] svg path {
            fill: #D9D9D9;
        }
    }
}
