div [class^='friendsTable'] {
    div[class^='friendsTableHeader'] {
        border-bottom: none !important;

        div[class^='friendsColumnSeparator'] {
            background-color: white;
        }
    }

    div[class*='friendsRow'] {
        border-top: white !important;

        &:hover {
            box-shadow: none !important;
            background-color: $near-white;
        }
    }
}

// Changes the [Online | All | Pending | ...] buttons in the friends list
div[class*='divider'] + div[class*='tabBar'] {
    // make the buttons pink
    background-color: $main-colour;

    // make the text white
    div[class*='item'] {
        color: white !important;

        // change colour when hovered
        &:hover {
            background-color: rgba(white, 0.3) !important;
        }

        // selected one should be a different colour too.
        // this should be second because if it's first then the
        // hover will override this.
        &[class*='selected'] {
            background-color: rgba(white, 0.5) !important;
        }
    }

    // Add Friend button
    div[class*='primary'] {
        // make the text white
        span {
            color: white;
        }

        background-color: $green !important;

        &:hover {
            background-color: $green-darker !important;
        }
    }
}

/// Private channels only
div[class^='privateChannels'] {
    // without this there is a white line between the friends list
    // and direct messages list
    margin-right: -1px;

    // DIRECT MESSAGES text
    span header {
        margin-top: 5px;
        padding-top: 5px;

        font-weight: 400 !important;
        color: $gray;
        opacity: 1;
    }

    a {
        div[class*='activity'] {
            color: $gray;
        }

        &:hover {
            div[class*='activity'] {
                color: $dark-gray;
            }
        }
    }

    // Friends button in DM menu
    div[class^='scroller'] {
        // Remove padding above friends button
        & {
            padding-top: 5px !important;
        }

        // Change pending indicator colour in Friends button
        div[class*='numberBadge'] {
            background-color: $main-colour !important;
        }

        @if $disable-friends-button {
            a[href='/channels/@me'] {
                display: none;
            }

            span header {
                margin-top: 0px;
            }

            &[class*='selected']:nth-child(1) div[class*='name'],
            &:nth-child(1):hover div[class*='name'] {
                color: #333333 !important;
            }
        }
    }
}
