div [class^='friendsTable'] {
    div[class^='friendsTableHeader'] {
        border-bottom: none !important;

        div[class^='friendsColumnSeparator'] {
            background-color: white;
        }
    }

    div[class*='friendsRow'] {
        border-top: white !important;

        &:hover {
            box-shadow: none !important;
            background-color: $near-white;
        }
    }
}

// Changes the [Online | All | Pending | ...] buttons in the friends list
div[class*='tabBar'] {
    // make the buttons pink
    background-color: $main-colour;

    // make the text white
    div[class*='item'] {
        color: white;
    }

    // Add Friend button
    div[class*='primary'] {
        // make the text white
        span {
            color: white;
        }

        background-color: $green !important;

        &:hover {
            background-color: $green-darker !important;
        }
    }
}

// Changes the colour of the Playing X message in friends list
div[class^='activityText'] {
    color: $dark-gray;
}

/// Private channels only
div[class^='privateChannels'] {

    // DIRECT MESSAGES text
    span header {
        font-weight: 400 !important;
        color: $gray;
        opacity: 1;
    }

    // Friends button in DM menu
    div[class^='scroller'] {
        // Remove padding above friends button
        & {
            padding-top: 0px !important;
        }

        @if $disable-friends-button {
            a[href='/channels/@me'] {
                display: none;
            }

            span header {
                margin-top: 0px;
            }

            &[class*='selected']:nth-child(1) div[class*='name'],
            &:nth-child(1):hover div[class*='name'] {
                color: #333333 !important;
            }
        }
    }
}
