div [class^='friendsTable'] {
    div[class^='friendsTableHeader'] {
        border-bottom: none !important;

        div[class^='friendsColumnSeparator'] {
            background-color: white;
        }
    }

    div[class*='friendsRow'] {
        border-top: white !important;

        &:hover {
            box-shadow: none !important;
            background-color: #F6F6F6;
        }
    }
}

div[class*='tabBar'] {
    div[class*='primary'] {
        background-color: #20BF9A !important;

        &:hover {
            background-color: #1CA585 !important;
        }
    }

    div[class*='itemDefault'] {
        color: white;
    }
}
