// Changes the bar at the top of Discord to be pink
div[class^='chat']:not([class*='gatedContent']) > div[class*='title'],  // normal chat
div[class^='channels'] + div[class^='container'] > div[class^='container']  // friends list, etc
{
    background: $main-colour !important;

    height: 48px;

    // Then we remove the stock box shadow.
    -webkit-box-shadow: none;
    box-shadow: none;

    div[class^='children'] {
        // remove dumb @ symbol and padding
        div[class^='iconWrapper'] {
            padding: 0;
            margin: 0;

            svg {
                display: none;
            }
        }
        // Change header bar to use real @ and # symbols instead of SVGs
        // This looks a lot less unnatural
        h3 {
            // Make channel name white
            color: white !important;

            // Make it less illegible
            font-weight: 400 !important;

            &:not([class*='cursorPonter']):before {
                content: "#";
            }
            &[class^='cursorPonter']:before {
                content: "@";
            }
        }

        // Changes the AKA icon in DMs
        div[class^='aka'] {
            background-color: rgba(white, 0.4);
            color: white;
        }

        // Makes the list of AKA names white
        div[class^='nicknames'] {
            color: white;
        }

        // DM groups
        div[class^='input'] {
            color: white;
        }

        // DM Group name container
        div[class^='outer'] {
            margin-left: 0;
        }

        // Makes the hover thing not shit in DM groups
        div[class^='outer']:hover {
            div[class^='container'] {
                background-color: rgba(white, 0.25);
                /*
                TODO figure out how to get rid of the outline
                It was none of these:
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
                */
            }
        }

        // Make topic text white
        div[class^='topic'] {
            color: white;
        }

        // what the fuck is this
        &::after {
            display: none;
        }
    }

    div[class^='toolbar'] {
        // fix svg colours
        svg path {
            color: white;
        }

    }

}

// for some ungodly reason this needs to be 1px more
div[class^='channels'] + div[class^='container'] > div[class^='container'] {
    max-height: 48px;
}


// Changes the search thing in DMs to be pink
// This needs to be separate because lol discord
div[class^='privateChannels'] div[class^='searchBar'] {
    background: $main-colour;
    -webkit-box-shadow: none;
    box-shadow:none;

    div[class^='inner'] {
        background-color: rgba(white, 0.6);

        input::placeholder {
            color: white;
        }
    }
}

// Change the right search bar
div[class^='searchBar'] {
    background-color: rgba(white, 0.6);
}

div[class='public-DraftEditorPlaceholder-inner'] {
    color: white;
}

// dividers between e.g. the #Friends and buttons, channel name and description, etc.
div {
    div[class^='divider'],
    &[class^='topic']::before {
        background-color: rgba(white, 0.3);
    }
}

// The ring that shows you have unread pins
svg[name='Nova_Pin'] + span[class^='iconBadge'],
// Icons in the top bar in chat
div[class^='titleWrapper'] span[class^='icon'] svg {
    opacity: 0.8 !important;
    &:hover {
        opacity: 1 !important;
    }
}

// Hide the Call and Video Call icons in the header
svg {
    &[name='Nova_CallJoin'], &[name='Nova_CallVideo'] {
        display: none;
    }
}

// Remove question mark icon
a[href='https://support.discordapp.com'] {
    display: none;
}

%raleway-500 {
    font-family: 'Raleway';
    font-weight: 500 !important;
}

// Changes font on usernames and channel names at the top
span {
    &[class^='username'], &[class^='channelName'] {
        @extend %raleway-500;
    }
}

// Server box
header {
    // Remove terrible box-shadow dropdown
    -webkit-box-shadow: none;
    box-shadow: none;

    span[class^='name'] {
        @extend %raleway-500;
    }
}

// New messages button below header
div[class^='newMessagesBar'] {
    & {
        background-color: rgba($main-colour, 0.7);
    }

    // Mark as read text, made white
    button:last-child {
        color: rgba(white, 0.6);

        &:hover {
            color: white;
        }
    }
}

// Change the left search bar
div[class^='searchBarInner'] {
    & {
        background-color: rgba(white, 0.5) !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }

    // Left search bar text
    input::placeholder {
        color: rgba(white, 0.6);
    }
}

// dumb shit
div[class*='privateChannels-'] div[class*='searchBar-'],
div[class*='container-'] header[class*='header-'] {
    height: 48px !important;
}

