// Custom HLJS theme.
@if $custom-hljs {
    .hljs {
        color: #727272 !important;
    }

    .hljs-comment {
        color: #8C8C8C !important;
    }


    .hljs-keyword,
    .hljs-selector-pseudo,
    .hljs-type {
        color: #FF6B81 !important;
    }

    .hljs-built_in,
    .hljs-bullet,
    .hljs-class .hljs-title,
    .hljs-deletion,
    .hljs-literal,
    .hljs-name,
    .hljs-section,
    .hljs-selector-attr,
    .hljs-selector-tag,
    .hljs-subst,
    .hljs-symbol,
    .hljs-title,
    .hljs-variable {
        color: #B2394B !important;
    }

    .hljs-addition,
    .hljs-doctag,
    .hljs-number,
    .hljs-regexp,
    .hljs-string {
        color: #20BF9A !important;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-meta {
        color: #41A1CC !important;
    }

    // These are black so it is obvious when they are missing
    .hljs-formula,
    .hljs-link,
    .hljs-quote,
    .hljs-selector-id,
    .hljs-template-variable {
        color: black !important;
    }
}
