// Fix buttons at the bottom
div[class^='accountDetails'] + div[class^='flex'],
div[class^='channels'] div[class^='flex']:last-of-type {
    // Change some icons to material icons
    $_image_names: (
        Unmute: $image-unmute,
        Mute: $image-mute,
        Deafen: $image-deafen,
        Undeafen: $image-undeafen
        );

    @each $name, $url in $_image_names {
        button[aria-label='#{$name}'] {
            background-image: $url !important;
            opacity: 1;
        }
    }

    // Settings icon/button
    svg[name='Gear'] {
        color: black;
    }
    button[aria-label='User Settings'] {
        opacity: 0.90;
    }


    // Change all hovers
    & *:hover {
        background-color: $lightest-gray;
    }
}

// Change the waving icon to something else
svg[name='PersonWaving'] {
    padding-bottom: 8px;
}

svg[name='PersonWaving'] path {
    // Material icons group
    d: path("M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z");
    color: $light-gray;
}

div[class*='buttonInfo'] {
    background-image: $image-info !important;
    opacity: 1;
}
div[class*='buttonDisconnect'] {
    background-image: $image-phone-bounce !important;
    opacity: 1;
}

svg[name='MobileDevice'] path {
    color: white !important;
}

div[class^='memberOnline'] {
    svg[name='MobileDevice'] path {
        color: $gray !important;
    }

    div[class^='activityText'] {
        color: $gray;
    }

    svg[name='RichActivity'] path {
        fill: $gray;
    }
}

// Change search bar icons
div[class^='search'] {
    // Magnifying glass
    i[class*='EyeGlass'][class*='visible'] {
        background-image: $image-eyeglass;
        opacity: 0.8 !important;
    }

    i[class*='BarClear'][class*='visible'] {
        background-image: $image-barclear;
        opacity: 0.8 !important;
    }
}

// change boosting colour
svg {
    // icon in member list
    &[name='PremiumGuildSubscriberBadge'],
    // icon next to guild name
    &[class^='premiumGuildIcon-'],
    // icon in guild settings (Nitro Server Boost tab)
    &[class^='flowerStar-'] {
        path {
           color: $magenta;
       }
   }
}
