// Mention overrides

// Mention colour in a channel
span[class*='wrapper'] {
    background-color: rgba($mention-colour, 0.15);
    color: $mention-colour;

    &:hover {
        background-color: $mention-colour;
        color: white !important;
    }
}

// Mention colour in a topic
div[class^='topic'] span[class*='wrapper'] {
    background-color: rgba(white, 0.4);
    color: white;

    &:hover {
        background-color: rgba(white, 0.8);
        color: $mention-colour;
    }
}

// You mentioned in a message
div[class^='isMentioned'] {
    background-color: rgba($mention-colour, 0.15);

    // Bar on the left - slightly darker
    &:after {
        background-color: rgba($mention-colour, 0.15);
        border-left: 4px solid $mention-colour;
    }
}
