// Note: Popout means the thing when you click an avatar.

// Normalise header colours
div[class^='userPopout'] {
    div {
        &[class^='headerPlaying'],
        &[class^='headerNormal'],
        &[class^='headerSpotify'] {
            background-color: #FF6B81; 
        }
    }

    // forgot why this was needed (or if it is?)
    div[class^='headerNameWrapper'] span[class^='headerName'] { 
        color: white !important; 
    }

    // make usernames white on the modal popup
    div[class^='headerTag'] span.username { 
        color: white !important; 
    }

    // remove useless protip section
    div[class^='footer'] {
        & {
            padding: 0;
        }

        input[class^='quickMessage'] {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px
        }
        
        div[class^='protip'] { 
            display: none; 
        }
    }

}

/* Makes the activity part of the user popup not be any darker */
div[class^='activityUserPopout'] {
    background-color: rgba(0, 0, 0, 0);
}
