// Note: Modal means the thing that pops up if you click "VIEW PROFILE".

div[class^='modal'] {

    // makes the top section pink
    div[class*='topSectionPlaying'] div[class*='activityProfile'],
    div[class*='topSectionSpotify'] div[class*='activityProfile'],
    div[class*='topSectionNormal'] header,
    div[class*='topSectionPlaying'] header,
    div[class*='topSectionSpotify'] header {
        background-color: $main-colour;
    }

    // makes the tabs white
    div[class*='tabBarContainer'] {
        background-color: white;
    }

    div[class^='nameTag'] {
        // fix username/discrim colours
        span[class^='username'] {
            color: white !important;
        }
        span[class^='discriminator'] {
            color: rgba(white, 0.8) !important;
        }

        // it works don't question it pls
        *::selection {
            background-color: white;
            color: $main-colour;
        }
    }
    // removes all badges (e.g. nitro, partner)
    @if $disable-profile-badges {
        div[class*='profileBadges'] {
            display: none;
        }
    }

    div[class*='headerInfo'] {
        span[class^='botTag'] {
            background-color: rgba(white, 0.7);
            color: $main-colour !important;
            font-weight: 500 !important;

            // Center text
            display: inline-flex;
            align-self: center;
            padding: 2px;
        }
    }

    div[class^='note'] textarea::selection {
        background-color: rgba($main_colour, 0.7);
        color: white;
    }
}
