
%_status_mask {
    -webkit-mask: none;
    mask: none;
}

// Gets rid of the circle the status would be in
*[class*='mask'] {
    @extend %_status_mask;
}

@mixin status-border($colour) {
    div[class*='status'] {
        border-color: $colour;
    }
}

div[class^='channel'] {
    @include status-border(white);

    &:hover,
    &[class*='selected'] {
        @include status-border(#EBEBEB);
    }
}

// Original: Disable ALL
@if $disable-statuses {
    // Hides ALL
    div[class*='status'] {
        display: none;
    }

// Laura tweak: Disable ALL but top bar
} @else if $disable-statuses-most {
    div[class*='scroller'] div[class*='status'] {
        display: none;
    }

    div[class*='status'] {
        border: none !important;

        &[class*=online] {
            background-color: $green;
        }
    }

    .colorblind-mode div[class*='offline'] {
        background-image: none !important;
    }
}
