/* This file is licenced under the CC BY-SA 4.0 licence. For more information, see https://creativecommons.org/licenses/by-sa/4.0/ */

/* Some of the icons in this are licenced under the Apache 2.0 Licence. For more information, see http://www.apache.org/licenses/LICENSE-2.0. */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500|Raleway:500,700|Roboto:300,400,500,600');


/* Changes the default font */
input, input::placeholder, header, a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var, textarea, textarea::placeholder {
    font-family: 'Roboto';
    font-weight: 300!important;
}

strong {
    font-weight: 500!important;
}

/* Changes the font on usernames */
.theme-light span[class^='username'],
/* Changes channel name at the top when chatting */
.theme-light span[class^='channelName'] {
    font-family: 'Raleway';
    font-weight: 500!important;
}

/* Changes messages to be a darker colour */
.theme-light div[class^='markup'] {
    color: #404040;
}



/* Gets rid of the message divider */
.theme-light hr[class^='dividerEnabled'],
/* Gets rid of the gift box and GIF buttons on the chat box */
.theme-light div[class^='buttons'] button[tabindex="2"],
.theme-light div[class^='buttons'] div[class^="buttonContainer"] {
    display: none;
}



.theme-light div[class^='searchBarInner'] {
    background-color: rgba(255, 255, 255, 0.6)!important;
}

/* TODO make icons for these, need right colour
.theme-light div[class^='search'] i[class*='EyeGlass'][class*='visible'] {
    background-color: red;
}

/* TODO Change the search box text colours */
/* TODO also change the real search box, not just DM */
.theme-light div[class^='searchBarInner'] input::placeholder {
    color: rgba(255, 255, 255, 0.7)!important;
}



/* Changes hyperlinks in chat */
.theme-light a {
    color: #FF6B81!important;
}

/* Changes hyperlinks in channel desc */
.theme-light div[class^='topic'] a {
    color: white!important;
    text-decoration: underline;
}



/* Changes the AKA thingy in DMs */
.theme-light span[class^='aka'] {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}




/* Changes the channel name info to be pink */
.theme-light header[class^='header'],
/* Changes the bar at the top of a channel to be pink */
.theme-light div[class*='headerBar'] {
    background: #FF6B81!important;
    -webkit-box-shadow: 1px 1px white;
    box-shadow: 1px 1px white;
}

/* Changes the search thing in DMs to be pink
 * This needs to be separate because lol discord */
.theme-light div[class^='privateChannels'] div[class^='searchBar'] {
    background: #FF6B81;
    -webkit-box-shadow: none;
    box-shadow:none;
}

/* Remove STUPID FUCKING rounding thing */
.theme-light div[class*="base"] {
    border-radius: 0;
}

/* Make the elements on the channel bar
 * white for contrast with the pink colour */
.theme-light span[class^='channelName'],
.theme-light div[class^='topic'],
.theme-light svg[class^='channelIcon'],
.theme-light svg[name^='Pin'] path, /* TODO fix the pin ring */
.theme-light svg[name^='Phone'] path,
.theme-light svg[name^='People'] path,
.theme-light svg[name^='Mention'] path,
.theme-light svg[name^='PersonPlus'] path,
.theme-light svg[name^='VideoCamera'] path,
.theme-light svg[name^='NotificationBell'] path {
    color: white;
}

/* Server name */
.theme-light header span[class^='name'] {
    font-family: 'Raleway';
    font-weight: 500!important;
}

/* Channel name */
.theme-light div[class^='titleText'] span[class^='channelName'] {
    font-weight: 500!important;
}




/* Removes the question mark thingy */
.theme-light a[href='https://support.discordapp.com'] {
    display: none;
}



/* This is that line to the right of the search box */
.theme-light div[class^='titleWrapper'] div[class^='divider'],
/* This is that line between the channel name and topic text */
.theme-light div[class^='topic']::before {
    background-color: rgba(255, 255, 255, 0.3);
}



/* New messages button thingy */
.theme-light div[class^='newMessagesBar'] {
    background-color: rgba(255, 107, 129, 0.7);
}

/* The MARK AS READ text */
.theme-light div[class^='newMessagesBar'] button:last-child {
    color: #FF6B81;
}

/* Make it white when hovered like discord */
.theme-light div[class^='newMessagesBar'] button:last-child:hover {
    color: white;
}

/* Load more messages button */
.theme-light div[class^='hasMore'] button {
    background-color: white;
    color: #FF6B81;
    border: 1px solid #EBEBEB;
}



/* Hides all statuses */
.theme-light div[class*='status'] {
    display: none;
}



/* Code blocks font */
.hljs, span[class^='hljs'] {
    font-family: 'Fira Code'!important;
    font-weight: 500!important;
}

/* Code blocks */
.theme-light div[class^='markup'] pre {
    border: none;
}

/* Code and mono box part 2 this is different u can test urself if u dont believe me */
.theme-light div[class^='markup'] code,
.theme-light div[class^='markup'] code.inline {
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
}

/* TODO custom hljs theme */



/* Adds the pink thing to the left too */
.theme-light div[class^='guildsWrapper'] {
    border-top: 48px solid #FF6B81;
}



/* Change every background to be white */
/* These 2 are for the user info thing at the bottom */
.theme-light div[class^='channels'],
.theme-light div[class^='channels'] div[class^='container'],
/* idk this matched a lot of them */
.theme-light div[class^='scrollerWrap'] {
    background-color: white;
}



/* The user info stuff at the bottom */
/* The username and discrim */
.theme-light div[class^='channels'] div[class^='accountDetails'] span {
    color: #404040;
}

/* Discrim opacity */
.theme-light div[class^='channels'] div[class^='container'] span[class^='discriminator'] {
    opacity: 0.8;
}

.theme-light div[class^='accountDetails'] + div[class^='flex'] button[aria-label='Unmute'] {
    /* Taken from Google Material Icons */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAADgUlEQVR4Ae3aA7MkSRSG4W9t2/Zu9eT51rb9E9a2bdu2bZuD0Ni2Pdc3xzOd0xXdp/oWsiLqPeEoPZfdnYmioqKioqL423UDcza/ZT+ZJTPZj9/wnL3WQ14y2/B5NtO6I018PtgS/tfpNDbQhg8bOp0Gv+PltDXmcqSbnMtXsBxUycnSXgsg7eZUpJdcQksrr2kIZnPOplXMnNIWqT7+IkLN5B1a3cg7SCNe49z2OVQt2I5WP8F2SDq5nZZWTzBXRQGYq5B05k7aKAT+FAUgPyP5eH8UggyMBBgIeEbg7EiAWUgneVxLkEbaKAN4RpDjpSk6IMcEpBmfi58A5JwA5JwA5JyALJLX4iMgk5aLjwDknABkR3gnDgIybPk4CEBOCGzRA7wkmFPDCUDmBH5c+VjyuJYAD1qhIwQg5wTAE4J8WR8B3rRifQQg5wQg5wTAN0JjNAJ8i3No9QTfAQoC0s55WdYTFckE2igEVMRe5Ws5iDtOKrv8cFTEHrRaQngcUXbOmPgBg6p/feQr2o4R2FB2fG/EnfzsfDy+OdzAC2kVBO36wm9JfyZxLNxQ2kLaOkKQM51jH0TcmbNr3YCv0NZP4PPOkWci7ko701b/GQ02lpl1E5aTUc6RmyH+OMa5xcGoSI6T9voI5mjnqM5IIj7iPMinCEkuro/AI9hcdsQVSCIJ3AXr0s7hi91sqEXg/ajIHCWNi68cbIxkkj8dwpcIjVvzOTZHJ8ghC1+OyPtIKnMqrTMXITzssf7i7Ta0nM3+SsL+Mkva9toeySXd3N0npZ2haTl5X0mgPI0kk4Ct7p/TPdbXEfimipB8ci+tM4OC7XQEeckPworLvu6UqXKIEv+0FwSzDcfROtMi1+WKwL04g9Yd+ZW7qggPe0GQ/UO2FrTyDe6Hqm25Gi9igxcEcyin04ZMD14kwS5rwW0Fszcv5Juc6B6dKUF2ZN9q+1HkBblD7uCj8r78537o4g0hWIMf0+rHQwJgLuD0vBM24htspY08H/FlTwhAsKU8KzNp1dOfJ7mLtpkTgB3XlivZt/ZeLfnAHIXFeUFwkt14I7+Q8RUPPp4/yj3mKK4EN48ITvo1sXCC3OEpQE/gDf4D9ATvAXqCtwA9wVuAnuAtQE/wFqAn+ADQE8wtPgL0hGuAXAFcglwC5ArgEuRcIEcAl8BXqj1+UVFRUVFRUVHRXFl0icFIhC+rAAAAAElFTkSuQmCC)!important;
    opacity: 1;
}

.theme-light div[class^='accountDetails'] + div[class^='flex'] button[aria-label='Mute'] {
    /* Taken from Google Material Icons */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAADAklEQVR4Ae3aA6wkWxQF0D2Ivm1bXf3u2d8Mvs1owm9bE41t27btOGPbtq2aid/tW42a19VVk5x1wkbV2WVcKKWUUsX32I3mK47jSjkqR7iSY/l16npcLsy97MDT9O2SU9KR9yD5yj7iCfpZ6kTZR0g2/kY/d8nvSC55X87Tz1fmQySTuYPH6BdQx9N3IomkL/0Cqx+Sx7uffuHl3Y+kMX+GCWD+RNJwcpgAMhVJI2tCBViDpOGxMAF4GklDP1whVhpAziNeGuAcYqUBeBbx0gBnEC8NcBqx0gByCvHSACcRKw3AE4iXBjiOeGmAY4iVBpCjGiAsOVWugSVwyNFQAXbBwaWRXuxxb7nJb4KDa0MFWAQHN5f7fj+KyG3wBBwyJVSAUXBY79Y2o5jcBs0dyMC/wgQw3+d+vyCzUGxsb7XwJjKkHgjzUMV9ycQvrF90RLGZr6wZNIKD/QqO0AUOdrXW0FcotvQjVoBlAb+4s7BH7HLEuwWZKnF7+d+kH0Hx2bPgy3CYDwt5Klr2BhzylvWrHYgCm1qNDEMA+SNf+/wRAWS09bumiIJ4divBq1k+zTnU4F0EoGQco9KIhsxyj+Uu3hM42OMk23t3IUglLoj2EJp9G/8RWTx5Q6HDbdzNTj5AdGSOvUlU/GhhXrDXlsxFlMTjWftw+uQNFTw477OfWjOFaEk9+latvfRhA6kHZFvG5lMPkavKxRkzPSCv4BLIK3KAvlWLUbU0Q8p2Zj4sl38RykPXsJWcyzxD80GUBlM87Bwmp/AxFKayfCO76Dv1HkpHng+47jnLnnwOeZh3uIR+QP2A0jKv8lBgI4v5o3iPXu1e6kk1duUm+oH1F0pPHuKKXONRpKPUvFgtZDjncV+uh1zyPuLhXckh9CtWstp7CnEy3/NQBdof6F2JuJmb2ZNn6YeudeY1JIV3l7STIyGW/EKphqpIloeukT/c3dqplVIvbZBc8jirc2TAiWq7jDb/mSdwuYhyhJYG0AAaQANoAA2gATSABlBKKaWUUhcAhsW33L0k4soAAAAASUVORK5CYII=)!important;
    opacity: 1;
}

.theme-light div[class^='accountDetails'] + div[class^='flex'] button[aria-label='Deafen'] {
    /* Taken from Google Material Icons */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAADN0lEQVR4Ae2bA6xlQQxAZ23b5ue0y2BtBmvbtm0GayNe27Zt2/a3wk5vsHqdZE7jzDQ9j4NeJR+Hw+FwOBwOhxjgISyHFn7pla1gZGyEwnZo7pfYXoG4eIFDMY2SDIwxBUh8hL4qodjyMZIToAG3dXmh5XMCrEI4TlYJBZbPC/ABZzC3tPJ5Ae/4qGtKKp8X6AWnvRUgQrcUUT4RIAQVxnHwzOvbAI1llE8EKIEpcAqGsBJhUF1K+USAEpAf9nIK8BUDhJRPBBiwK0QwEi91dhHlUwGO4Prwy5wHJzCRgPKpAI8ui++YufMElM8KMAT6w1dzbnAFn5fPC3BAJQw1Zt/PmczH5fMCPNiQ+TqP9HH53gIcON5cXPil9GX5jADsDMivPCiYBG/y74HPymcXcyF6hPfvkZHhrUros/K9V6Ow3eujgYtpBmjhw/K9l9NwCJMrBr/08JP+pf3B5vvPwzsv7FXxFQMsozl0dpECGAmjWYFiRpZuUgXCsbRioGtU2ClUACPhkorHCLQhWb6r+IIESLRmVkb56CgIlCtwQDHQDSd0FisAEf5ZGIHVZNRsSQJUoa0y0F3ImC2SBRYqA6hLxlyTLHBWGWBpMuapYAF8wp1XEIEPggXgpzIokoqeFQkWwB/KAJOTMSGCBeCZMtB56M5MsACeZwRKUEnLfkZ1TfpLJVhAt1cG2JoIrBUrAOGYURnAXDJuhlyBzYoBb5FRHcUK6CrMcjqzkSdAqsBRpSze0EB4cEnFgNtIlm1St5SjFIN/LnpGCm1kCuzmPxg4g66DiqQSeLCFR/Im9Tgf/URybBB5tBiYwiPrQJpB17PocBeLGvdlb1R8Wcfre72P11VCvEznw0BLLjj4XPA0b1JrrpiCq5pXTLqVPZd8xZh7ygvWXLNiRnzCzC5tyUU3ZsML5kyYa0mrAZSB18zMc5jIimYP3QVDuWaPwJwWtNtAQdzq2W4jv+FJT/JoeArRNYW3nAUXgjH4HCPZ+I4VbW76+xBUyua2y0dBhe1ufM1oc+vxFJXQ4ubv4AoWt99jf5XQ1gcgXsIwTGPpIyi4TTf1S2znQ0DLYh8CcjgcDofD4XA4ogDC+jhcqmbWnwAAAABJRU5ErkJggg==)!important;
    opacity: 1;
}

.theme-light div[class^='accountDetails'] + div[class^='flex'] button[aria-label='Undeafen'] {
    /* Taken from Google Material Icons */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAADvElEQVR4Ae3aA9AkSRCG4W/2bNv23FTm2bZt27Zt2wjH2UbgfGvbtu1eZWftdo2yJ6LeDv/VOf38w5oY+IvFYrFYLBaL0cX8Fgpo1OgqnsbT6B1ULepO79JZ261at8tPjldQpZJ5k+gbOnO7JVHL+KbkxqpKWGBmP76dV0JtonuTG6mIQA+lAeIYTtdj8VoA7uNplRLoSZ6mAeRBHd2+qH78aDhBXr4OUAhT+FEsnisCvcjT/AAV8S9vaE2Ql+8H6Mdwd3guCPQGT/MCrqF//ASa6s5GtaNnlRt6Fr4KyeVrgKQdt+QHqI/v2UCnWhIK/P6C6+CpuBw/xhNVxGQ61IzAG/JwDaC3w6b0k0ag0byDHYEWJGAR8eU0VUH0d+saEmiUDtArHUsTlMl/8hKodvxKRsKu8wjIkNudh+ivdYYEHqMD9Irb0+j05NJ+loS9ZhOQMTqAJ6Umd11/GVMCjdcBenyy8nS+G6gTgR/V/qs0Pmjug+kPF9stb0s4FCL6bodN4Wnzpbh9ze4DGb2jETLtyCa6u/yvR6mZg7E4alKhPELynPnG99DgN+VMOgvIEYGTdfQ7Lwul7Val8QLwZ+Wb77Dj0Wxz6Sc0yfbgdOvWBhBOEHPpXhWwTWreFTUDhBPETnhXKMnPqPRd/QHT6L4sc6kFCgrgPDFtLJrUFqAft6lzx4lV5yJVcRM5i4oWAJVQ2k+8yvwKJbnhpEsNANkINHX7tRTAhwLwrBFAfy4IwvlI5S4TU740AGQl0OtIRUeLGW3MAH4Cj03++p+2IRITetsB/IQ9EkIv7fsKcf4wA0BWgrZn2GoF+V2RASAzYbK2MxDnjjcH+Ana49utIb8nsgf4CVsgFW0uzmxvD9AJntxB4ry/7AFBBHe1OOdjM4C7qxwCvSa39mYAgG8KJ1BHsf5oQ0A4obi+XL39BqaAUAJdJ1YOBIwBYQT+X6x71x4QQCguR6PEqhPsAUGE0s48Yr4VE2ryHTXdFw4IIJTmEegbJJkQgEoJpSMAQwJQIaEDkowIQCUEGurOBkwJQCWE4vZYHDAlAOEEmSkBaHAC0OAEoMEJQIMTIJOfe97habkmwB/cvtxZrM8fAZ6KW9HHyZp8E5Cu4A7nr8XPCvJLUJ60XcSF5psQtM8Ykj9CAIA+55X40VwRAgCT+Cblh232hIyAv5iQlDvCIgFd+GSI0gR3F4zTAX/R+bxEht8j3QTkDTCIXnbbQk8Q6CrkKepIT5T2QCHrT6roYjRsBX5rYZcfi8VisVgsFpsOX97s7saPkd0AAAAASUVORK5CYII=)!important;
    opacity: 1;
}

.theme-light div[class^='accountDetails'] + div[class^='flex'] svg[name='Gear'] {
    color: black;
}

.theme-light div[class^='accountDetails'] + div[class^='flex'] button[aria-label='User Settings'] {
    opacity: 0.90;
}
/* TODO figure out the hovers */



/* DM rich presence icon */
.theme-light div[class^='privateChannels'] div[class^='channel'] path[class^='activityIconForeground'],
.theme-light div[class^='privateChannels'] div[class^='channel']:hover path[class^='activityIconForeground'] {
    fill: #404040;
    color: #404040;
}

/* Selected DM name */
.theme-light div[class^='privateChannels'] div[class^='channel'][class*=selected] span,
/* Selected channel name */
.theme-light div[class^='nameSelectedText'] {
    color: #404040!important;
}

/* DM hovered */
.theme-light div[class^='privateChannels'] div[class^='channel']:hover a,
/* Hovered channel */
.theme-light div[class^='contentHoveredText'] {
    background-color: #F2F2F2;
}

/* Selected DM */
.theme-light div[class^='privateChannels'] div[class^='channel'][class*='selected'] a,
/* Selected channel */
.theme-light div[class^='contentSelectedText'] {
    background-color: #EBEBEB;
}

/* DM hovered name */
.theme-light div[class^='privateChannels'] div[class^='channel']:hover span,
/* DM presence thingy */
.theme-light div[class^='privateChannels'] div[class^='channel'] div[class^='activityText'],
/* Category hovered name */
.theme-light div[class^='nameHovered'],
/* Hovered channel name */
.theme-light div[class^='nameHoveredText'] {
    color: #404040;
}

/* Regular channel */
.theme-light div[class^='contentDefaultText'] {
    background-color: white;
}

/* Category */
.theme-light div[class^='nameDefault'],
/* Regular channel name */
.theme-light div[class^='nameDefaultText'] {
    color: #8C8C8C;
}

/* Muted channel */
.theme-light div[class^='contentMutedText'] {
    background-color: white;
}

/* Muted channel name */
.theme-light div[class^='nameMutedText'] {
    color: #D9D9D9;
}

/* Unread channel name */
.theme-light div[class^='nameUnreadText'] {
    color: #404040;
}

/* Change this dumb shit for svgs */
.theme-light path {
    opacity: 1;
}

/* That hash symbol on regular channel */
.theme-light svg[class^='colorDefaultText'],
/* Unread too */
.theme-light svg[class^='colorUnreadText'] {
    color: #8C8C8C;
}

/* Same but selected */
.theme-light svg[class^='colorSelectedText'] {
    color: #333333;
}

/* Same but muted */
.theme-light svg[class^='colorMutedText'] {
    color: #D9D9D9;
}



/* That thing in your friends list thing */
.theme-light div[class^='privateChannels'] span header {
    font-weight: 400!important;
    color: #404040;
    opacity: 1;
}



/* Unread icon */
.theme-light div[class^='guild'][class*='unread']::before {
    background-color: #FF6B81;
}

/* Guild background */
/* TODO hover and selected */
.theme-light div[class^='guildInner'] {
    background-color: #FF6B81!important;
}

.theme-light div[class^='guildsWrapper'] div[class^='guild']:first-child div[class^='guildInner'] {
    background-color: white!important;
}


/* New guild button */
/* TODO style more */
.theme-light button[class*='guildsAdd'] {
    background-color: white;
}

/* Line between servers and the DM button thingy */
.theme-light div[class^='guildSeparator']::after {
    background-color: #404040;
}

.theme-light div[class^='friendsOnline'] {
    color: #404040;
    font-weight: 400!important;
}

/* The DM list button thingy */
.theme-light svg[name^='Discord'] defs path {
    /* Google icons home icon */
    d: path("M 10 20 v -6 h 4 v 6 h 5 v -8 h 3 L 12 3 L 2 12 h 3 v 8 Z")!important;
    color: #404040;
}



/* Chat box */
.theme-light div[class^='channelTextArea'] {
    border-top: none;
}

/* Chat box colour */
.theme-light div[class^='channelTextArea'] div[class^='inner'] {
    background-color: #EBEBEB;
}

/* The placeholder text it says before u type */
.theme-light div[class^='channelTextArea'] div[class^='inner'] textarea::placeholder {
    color: #D9D9D9;
}

/* Text box text when u type */
.theme-light div[class^='channelTextArea'] div[class^='inner'] textarea {
    color: #8C8C8C;
}

/* Attach file button */
.theme-light div[class^='channelTextArea'] div[class^='inner'] div[class*='attachButtonInner'] svg path {
    fill: #D9D9D9;
}



/* Friends button */
.theme-light a[href='/channels/@me'] {
    display: none;
}

/* Remove padding above where friends button was */
.theme-light div[class^='privateChannels'] div[class^='scroller'] {
    padding-top: 0px!important;
}

/* fix header colours */
.theme-light div[class^='userPopout'] div[class^='headerPlaying'] { 
    background-color: #FF6B81; 
}
.theme-light div[class^='userPopout'] div[class^='headerNormal'] { 
    background-color: #FF6B81 !important; 
}
.theme-light div[class^='userPopout'] div[class^='headerSpotify'] {
    background-color: #FF6B81 !important;
}
.theme-light div[class^='topSectionSpotify'] div[class^='tabBar'] {
    background-color: white;
}

/* Makes the activity part of the user popup not be any darker */
.theme-light div[class^='activityUserPopout'] {
    background-color: rgba(0, 0, 0, 0);
}

.theme-light div[class^='userPopout'] div[class^='headerNameWrapper'] span[class^='headerName'] { 
    color: white !important; 
}
/* note: important is needed for no-nickname variants */
.theme-light div[class^='userPopout'] div[class^='headerNormal'] span.username { 
    color: white !important; 
}
.theme-light div[class^='userPopout'] div[class^='headerNormal'] span.discriminator { 
    color: white; 
}

/* remove useless protip section */
.theme-light div[class^='userPopout'] div[class^='footer'] input[class^='quickMessage'] {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px
}
.theme-light div[class^='userPopout'] div[class^='footer'] { 
    padding: 0; 
}
.theme-light div[class^='userPopout'] div[class^='footer'] div[class^='protip'] { 
    display: none; 
}
