/* This file is licenced under the CC BY-SA 4.0 licence. For more information, see
https://creativecommons.org/licenses/by-sa/4.0/ */

@import "include/variables.default.scss";
@import "include/variables.scss";
@import "include/features.default.scss";
@import "include/features.scss";
@import "include/images.scss";

@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Roboto:300,400,500,600');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');


// Main block - all changes are imported from here.
// General guideline:
//
//  - If it fits in a partial file, it goes in there.
//  - Other misc tweaks go in here (usually, they apply to everything).

.theme-light {
    // font changes
    @import "partials/font.scss";

    /// Header bar changes
    @import "partials/header.scss";

    // Icon changes
    @import "partials/icons.scss";

    // Status changes
    @import "partials/statuses.scss";

    // Presence changes
    @import "partials/presences.scss";

    // Channel scroller
    //@import "partials/channel_scroller.scss";

    // Guild scroller
    @import "partials/guild_scroller.scss";

    // Channel (messages area)
    @import "partials/channel.scss";

    // Chat box
    @import "partials/chat_box.scss";

    // Profile popout
    @import "partials/profile_popout.scss";

    // Profile modal
    @import "partials/profile_modal.scss";

    // Upload modal
    @import "partials/upload_modal.scss";

    // Mentions
    @import "partials/mentions.scss";

    // HLJS
    @import "partials/hljs.scss";

    // Hyperlinks
    @import "partials/hyperlinks.scss";

    // Search
    @import "partials/search.scss";

    // Blocked messages
    @import "partials/block.scss";

    // Friends list
    @import "partials/friends.scss";

    // Custom tweaks
    @import "custom.scss";

    // remove main object rounded border
    div[class*='flex'] div[class*='base'] {
        border-radius: 0;
    }


    /// Misc tweaks!
    // Changes most backgrounds to be white
    div {
        &[class^='channels'] {
            background-color: white;
            & div[class^='container']:nth-of-type(1) {
                header {
                    background-color: $main-colour;
                }
            }

            & > div[class^='container']:nth-of-type(2) {
                background-color: white;
            }
        }
        &[class^='scrollerWrap'] {
            background-color: white;
        }

        // makes manky bit at bottom white
        &[class^='sidebar'] div[class^='container'] {
            background-color: white;
        }
    }

    // Change button colour
    button[class*='colorGreen'] {
        background-color: $green;
        color: white;  // not included in theme.css?
    }

    button[class*='colorGreen']:hover {
        background-color: $green-darker;
    }
    


}

// For some reason, these aren't grouped under the main .theme-light.
// But, we select on .theme-light as the sibling, so this won't affect dark theme.
.theme-light + div[class^='layerContainer'] {
    // misc popouts
    header {
        background-color: $main-colour
    }
}