// This file is used to define certain variables.


// Main colour (default: #FF6B81)
$main-colour: #FF6B81;

$green: #20BF9A;
$green-darker: #1CA585;

// Hyperlink colour (default: same as main colour)
$hyperlink-colour: $main-colour;

// Mention colour (default: same as main colour)
$mention-colour: $main-colour;
