// This file is used to define certain global variables.

$main-colour: #FF6B81;

$green: #20BF9A;
$green-darker: #1CA585;

$magenta: #BA4EF5;

$near-white: #F6F6F6;
$lightest-gray: #EBEBEB;
$lighter-gray: #D9D9D9;
$light-gray: #8C8C8C;
$gray: #727272;
$dark-gray: #404040;

$hyperlink-colour: $main-colour;

$mention-colour: $main-colour;
